body {
    padding: 0;
    margin: 0;
}

// Layout

#layout {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

#tiles-left {
    background: yellow;
}

#tiles-right {
    background: green;
}
